[Unit]
Description=Prometheus alb scrapper
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec={{ prometheus_alb_scraper_period }}s
ExecStart={{ prometheus_alb_scraper_dir }}/run.sh
Environment=AWS_DEFAULT_REGION={{ prometheus_alb_scraper_aws_region }}

[Install]
WantedBy=multi-user.target