#!/bin/bash

export SCRAPER_GEN_DIR={{ prometheus_alb_scraper_output_dir }}
export SCRAPER_TEMPLATE_DIR={{ prometheus_alb_scraper_dir }}
export SCRAPER_INTERNAL_DNS={{ prometheus_alb_scraper_internal_dns }}

python3 {{ prometheus_alb_scraper_dir }}/scraper.py